body {
    /*Selector general*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/CASTILLO/assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;           
}
header{
    color:white; background-color: rgba(0, 0, 0, 0.5);

    }
h1{
    padding: 10px;
}
.btn-contacto{
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: white;
    font-size: 100px;

}
.btn-contacto:hover{
    background-color: rgba(212, 193, 14, 0.829);
}
nav{
    color: white;background-color: rgba(251, 255, 0, 0.315); 
}

nav ul{
    display:flex;
    justify-content: space-evenly;
    /*align-items: center; (Esto es para alinear listas de arriba hacia abajo)*/
}

section h3{
    color: white;
    color:white; background-color: rgba(0, 0, 0, 0.5);
}

@media(max-width:510px){
    nav ul{
        display: block;
    }
}